* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  color: #4d4d4d;
}

h1 {
  color: #6558f5;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#tabela {
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#tabela > div {
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 50vh;
  min-width: 180px;
  text-align: center;
  border: solid 2px #e1e7ec;
}

#tabela > div div {
  color: black;
  font-size: 20px;
  padding: 5px;
}

#tabela > div h5 {
  font-size: 18px;
  color: #6558f5;
  border-bottom: solid 2px #e1e7ec;
}

#form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#form div.info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#form div.info-container div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px;
}

#form div.info-container div input {
  border: 1px solid #e1e7ec;
  width: 200px;
}

#form div.info-container div select {
  border: 1px solid #e1e7ec;
  width: 200px;
}

#form div#btns {
  margin: 50px;
}

#form #resetar {
  background-color: white;
  color: #6558f5;
  border: 1px solid #6558f5;
  padding: 10px 20px;
}

#form #resetar:hover {
  background-color: #e2e2e2;
}

#form #adicionar {
  background-color: #6558f5;
  color: white;
  border: none;
  padding: 10px 20px;
}

#form #adicionar:hover {
  color: #e2e2e2;
}

@media screen and (max-width: 600px) {
  div.info-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
