@import "mixins";

.section-estoque {
  flex-direction: column;
  img {
    width: 100px;
    height: 100px;
    margin-bottom: -5px;
  }
  table {
    background-color: $branco;
    border-collapse: collapse;
    th {
    }
    td:first-of-type {
      padding: 0px;
    }
    td {
      padding: 0px 20px;
      border: solid $preto 1px;
      a {
        img {
          transform: rotate(180deg);
          width: 25px;
          height: 25px;
        }
      }
    }
  }
}
