@import url("https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap");
* {
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  font-family: "Yusei Magic", sans-serif;
  color: #292f36;
}

html,
body {
  height: 100%;
}

html body,
body body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #292f36;
}

header {
  background-color: #4ecdc4;
  height: 150px;
  -webkit-box-shadow: black 0px 3px 15px;
          box-shadow: black 0px 3px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header h1 {
  text-transform: uppercase;
}

header img {
  width: 50px;
  height: 50px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #4ecdc4;
  height: 50px;
  -webkit-box-shadow: black 0px 3px 15px;
          box-shadow: black 0px 3px 15px;
}

footer a {
  padding-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer img {
  width: 20px;
  height: 20px;
}

footer .credits {
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-principal {
  padding: 50px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-principal a.btn {
  -webkit-transition: 1s;
  transition: 1s;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  width: 180px;
  height: 70px;
  background-color: #fff;
}

.section-principal a.btn:hover {
  -webkit-transition: 300ms;
  transition: 300ms;
  -webkit-box-shadow: #4ecdc4 0px 0px 10px;
          box-shadow: #4ecdc4 0px 0px 10px;
}

.section-funcionarios {
  text-align: center;
}

.section-funcionarios ul {
  padding: 0px;
}

.section-funcionarios li {
  list-style: none;
  color: #fff;
}

.section-estoque {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-estoque img {
  width: 100px;
  height: 100px;
  margin-bottom: -5px;
}

.section-estoque table {
  background-color: #fff;
  border-collapse: collapse;
}

.section-estoque table td:first-of-type {
  padding: 0px;
}

.section-estoque table td {
  padding: 0px 20px;
  border: solid #292f36 1px;
}

.section-estoque table td a img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  width: 25px;
  height: 25px;
}

.section-produto form {
  text-align: center;
}

.section-produto label {
  color: #fff;
  display: block;
}

.section-produto button {
  margin: 10px;
  -webkit-transition: 1s;
  transition: 1s;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  width: 180px;
  height: 70px;
  background-color: #fff;
}

.section-produto button:hover {
  -webkit-transition: 300ms;
  transition: 300ms;
  -webkit-box-shadow: #4ecdc4 0px 0px 10px;
          box-shadow: #4ecdc4 0px 0px 10px;
}

.fundo {
  background-color: #dadada;
  outline: #fff solid 5px;
  height: 630px;
  width: 700px;
  -webkit-box-shadow: black 1px 10px 50px;
          box-shadow: black 1px 10px 50px;
}

.fundo nav {
  background-color: #fff;
  padding: 30px;
  font-size: 13px;
}

.fundo .fundo-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 88%;
  width: 100%;
}

.fundo .fundo-content div.pagamento {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fundo .fundo-content div.pagamento form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 250px;
}

.fundo .fundo-content div.pagamento form input, .fundo .fundo-content div.pagamento form .pagamento {
  margin-bottom: 20px;
}

.fundo .fundo-content div.pagamento form .pagamento-radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.fundo .fundo-content div.lista {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  outline: #999 1px solid;
  margin: 100px 50px;
}

.fundo .fundo-content div.lista .lista-produtos {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  outline: #999 1px solid;
}

.section-historico form {
  padding-top: 50px;
}
